#permissions td.module {
    font-weight:                bold;
}
#permissions td.permission {
    padding-left:               1.5em;
}
#permissions tr.odd .form-item, #permissions tr.even .form-item {
    white-space:                normal;
}
#user-admin-settings fieldset .fieldset-description {
    font-size:                  0.85em;
    padding-bottom:             0.5em;
}
#user-admin-roles td.edit-name {
    clear:                      both;
}
#user-admin-roles .form-item-name {
    float:                      left;
    margin-right:               1em;
}
.password-strength {
    width:                      17em;
    float:                      right;
    margin-top:                 1.4em;
}
.password-strength-title {
    display:                    inline;
}
.password-strength-text {
    float:                      right;
    font-weight:                bold;
}
.password-indicator {
    background-color:           rgb(196, 196, 196);
    height:                     0.3em;
    width:                      100%;
}
.password-indicator div {
    height:                     100%;
    width:                      0%;
    background-color:           rgb(71, 201, 101);
}
input.password-confirm, input.password-field {
    width:                      16em;
    margin-bottom:              0.4em;
}
div.password-confirm {
    float:                      right;
    margin-top:                 1.5em;
    visibility:                 hidden;
    width:                      17em;
}
div.form-item div.password-suggestions {
    padding:                    0.2em 0.5em;
    margin:                     0.7em 0px;
    width:                      38.5em;
    border:                     1px solid rgb(180, 180, 180);
}
div.password-suggestions ul {
    margin-bottom:              0px;
}
.confirm-parent, .password-parent {
    clear:                      left;
    margin:                     0px;
    width:                      36.3em;
}
.profile, #user-login {
    clear:                      both;
    margin:                     auto;
    padding:                    100px 0px;
    max-width:                  1002px;
}
.profile .user-picture {
    float:                      right;
    margin:                     0px 1em 1em 0px;
}
.profile h3 {
    border-bottom:              1px solid rgb(204, 204, 204);
}
.profile dl {
    margin:                     0px 0px 1.5em;
}
.profile dt {
    margin:                     0px 0px 0.2em;
    font-weight:                bold;
}
.profile dd {
    margin:                     0px 0px 1em;
}